<form action="/projects/<%= @project.id %>/orders/<%=order.id%>" method="POST">
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>Vendor</th>
      <th>Quantity</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Unit Cost</th>
      <th>Total Cost</th>
      <th>Notes</th>
      <% if current_user.can_edit? %>
        <th>Action</th>
      <% end %>
    </tr>
    <% order_items.each do |item| %>
      <tr id="order-item-<%= item.id %>">
        <td>
			<%=link_to(item.order.vendor_name, stats_orders_project_path(@project), :style=>"color:black;")%>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.part_number %></td>
        <td><%= item.description %></td>
        <td><%= "$%.2f" % item.unit_cost %></td>
        <td><%= "$%.2f" % item.total_cost %></td>
        <td><%= item.notes %></td>
        <% if current_user.can_edit? %>
          <td>
			  <!-- Change this back to ajax!-->
			<%=link_to fa_icon('pencil fw'), edit_order_path(order), :class=>"btn btn-primary btn-small"%>
			<%=link_to fa_icon('trash fw'), item, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small"%>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if order %>
      <tr>
        <th>Purchaser</th>
		<th>Receipt</th>
        <th>Subtotal</th>
        <th>Tax</th>
        <th>Shipping</th>
        <th colspan="3">Total</th>
      </tr>
      <tr>
        <td><%= order.paid_for_by %></td>
		<td><%=order.receipt_name%></td>
        <td><%= "$%.2f" % order.subtotal %></td>
        <td><%= "$%.2f" % order.tax_cost.to_f %></td>
        <td><%= "$%.2f" % order.shipping_cost.to_f %></td>
        <td colspan="3"><%= "$%.2f" % order.total_cost %></td>
      </tr>
    <% end %>
  </table>
</form>