<!DOCTYPE html>
<html>
<head>
  <title>ZebracornParts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
	  body { padding-top: 60px; }
	  @media (min-width: 1421px)
	  {
		  .navbar .container{
		  width: 80%;
		  }
	  }
	  @media screen and (max-width: 1200px) {
	      body { padding-top: 0px; }
	  }
  </style>
</head>
<body>
	<%=render '/layouts/nav'%>
	<div class="container">
		<div class="row col-md-12 noPadding noMargin">
	
				<% flash.each do |name, msg| %>
				  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				    <a class="close" data-dismiss="alert">×</a>
				    <%= msg %>
				  </div>
				<% end %>
				<%= yield %>
		
		</div>
	</div>
	<hr />
	<footer>
		<div class="col-md-1"></div>
		This site is a form of code written and designed by Team 254. The original code can be found <a href="https://github.com/Team254/cheesy-parts" target="_blank"> here</a>.
	<footer>
</body>
</html>
